<div class="d-flex text-danger justify-content-center">
    <h4 style="margin-top: 10%; text-align :center" class="password-strength-title">
        Password Strength Checker
    </h4>
    <div class="input-container">
        <input type="password" placeholder="Type your password" id="PassEntry" class="form-control passwordInput" (input)="checkPasswordStrength($event)">
        <br>
        <small>Strong passwords require: At least 1 lowercase, 1 uppercase, 1 numeric and 1 special character and must be at least 10 characters long</small>
        <br/>
        <small>Medium passwords require: At least 1 lowercase, 1 uppercase, 1 numeric and 1 special character and must be at least 6 characters long</small>
        <br/>
        <div class="password-strength-container">
            <h4 *ngIf="showPasswordStrength" class="password-strength-text password-strength-label">Password Strength:  </h4><h4 id="StrengthDisp" class="badge displayBadge password-strength-text">Weak</h4>
        </div>
        <br>
    </div>
</div>     
