.passwordInput{
    margin-top: 5%; 
    text-align :center;
}

.displayBadge{
    margin-top: 5%; 
    display: none; 
    text-align: center;
}

.input-container {
    text-align: center;
}

.password-strength-container {
    display: inline-block;
}

.password-strength-text {
    float: left;
    margin: 0px;
}

.password-strength-label {
    padding-right: 5px;
}

.password-strength-title {
    margin-bottom: 0px;
}